PORT=4057
NODE_ENV=development
LOG_LEVEL=info

POSTGRES_HOSTNAME=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DATABASE=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

IG_PAGE_TOKEN=
IG_USER_ID=
API_TOKEN=

STORAGE_DIR=storage
SYNC_INTERVAL_MS=10800000
QUEUE_POLL_MS=2000
QUEUE_URL=

region=
accessKeyId=
secretAccessKey=
